interactions:
- request:
    body: null
    headers:
      !!python/unicode 'User-Agent': [!!python/unicode 'Mozilla/5.001 (windows; U;
          NT4.0; en-US; rv:1.0) Gecko/25250101']
    method: GET
    uri: https://www.google.com/finance/converter?a=1&from=USD&to=EUR
  response:
    body: {string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\"\
        >\n<html>\n<head>\n<title>Currency Converter - Google Finance</title>\n<meta\
        \ name=\"Description\" content=\"Get real-time stock quotes & charts, financial\
        \ news, currency conversions, or track your portfolio with Google Finance.\"\
        >\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/finance/s/OVd9g2P4lGg/styles/finance_us.css\"\
        >\n<link rel=\"icon\"\n        type=\"image/vnd.microsoft.icon\" href=\"/finance/favicon.ico\"\
        ></head>\n<body style=\"margin-left: 6px; min-width: 0px;\">\n<div class=g-doc>\n\
        <form action=\"/finance/converter\" method=\"get\" name=\"f\">\n<div class=sfe-break-top>\n\
        <input name=a maxlength=12 size=5 autocomplete=off value=\"1\">\n</div>\n\
        <div class=sfe-break-top>\n<select name=from value=\"USD\">\n<option  value=\"\
        AED\">United Arab Emirates Dirham (AED)</option>\n<option  value=\"AFN\">Afghan\
        \ Afghani (AFN)</option>\n<option  value=\"ALL\">Albanian Lek (ALL)</option>\n\
        <option  value=\"AMD\">Armenian Dram (AMD)</option>\n<option  value=\"ANG\"\
        >Netherlands Antillean Guilder (ANG)</option>\n<option  value=\"AOA\">Angolan\
        \ Kwanza (AOA)</option>\n<option  value=\"ARS\">Argentine Peso (ARS)</option>\n\
        <option  value=\"AUD\">Australian Dollar (A[...]
